@using System.Collections.Generic;
@using Freelancer.Model.Models.Schedule

@model Tuple<List<ScheduleWithDates>, int>
@{
    int ind = 0;
}
@if (Model.Item1 != null)
{
    foreach (var emp in Model.Item1)
    {
        <tr>
            <td>
                <div id="ScheduleWithDates@(ind)">
                    <input id="ScheduleWithDates_@(emp.ScheduleDates)" class="ScheduleDates"
                           name="ScheduleWithDatess[@(ind)].ScheduleDates" type="hidden" value="@emp.ScheduleDates" />@emp.ScheduleDates
                    </div>
                </td>
                <td>

                    <input id="ScheduleDatehours_@(ind)"
                           name="ScheduleWithDatess[@(ind)].hours" type="hidden" value="@emp.hours" />@emp.hours

                    </td>
                    <td>
                        <button id="RemoveObjectDates@(ind+"+p")" onclick="RemoveObjectDates('ScheduleWithDates@(ind)',@(ind))" type="button" style="margin-top: 5px;margin-left:10px" type="button" class="btn btn-block btn-danger btn-xs">Remove date</button>
                    </td>
                    <
                </tr>


        ind++;
    }
}
<script>
    function ReorderListDates(removedIndex) {
        debugger
        var PetCollection = JSON.stringify({ 'ScheduleDates': createJSONDates(true, removedIndex) });
        var index = $('input[class="ScheduleDates"]').length;
        $('#TableDates').empty();
        if (index >= 0) {
            var url = '/admin/Scheduler/RemoveScheduleDates?index=' + index;
            $.ajax({
                url: url,
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                data: PetCollection,
                success: function (data) {

                    $('#TableDates').empty();
                    alert("test")
                    $('#TableDates').append('<tr ><td>' + data);
                },
                error: function (a, b, c) {
                    alert(a + " " + b + " " + c);
                }
            });
        }
    }
    function RemoveObjectDates(index, removedIndex) {
        alert(index);
        $('#' + index + '').remove();
        ReorderListDates(removedIndex);
    }
    function createJSONDates(del, removedIndex) {
        jsonObj = [];
        var ind = 0;
        $("input[class=ScheduleDates]").each(function () {



            myObj = {}

            myObj["ScheduleDates"] = $(this).val();
            if (removedIndex == ind)
            { ind++; }

            myObj["hours"] = $('#ScheduleDatehours_' + ind).val();
            //myObj["PetName"] = $("#ScheduleEmployeesName_" + $(this).attr('id').split('_')[1]).val();


            jsonObj.push(myObj);
            ind++;
        });
        if (del == false) {

            myObj = {}
            myObj["ScheduleDates"] = $('#txtScheduleDate').val();
            myObj["hours"] = $('#txtScheduleDatehours').val();
            jsonObj.push(myObj);
        }

        return jsonObj;
    }


    $('#AddDate').click(function () {
        debugger
        if ($('#txtScheduleDate').val() == "" || $('#txtScheduleDatehours').val() == "") {
            return;
        }
        else {
            for (var i = 0; i < $('input[class="ScheduleDates"]').length; i++) {

                if ($('#txtScheduleDate').val() == $('input[class="ScheduleDates"]')[i].value) {
                    return;
                }
            }
        }

        var index = $('input[class="ScheduleDates"]').length;
        scheduleWithDates = JSON.stringify({ 'ScheduleDates': createJSONDates(false) });
        var url = '/admin/Scheduler/AddScheduleDates?index=' + index;
        debugger;
        $.ajax({
            url: url,
            contentType: 'application/json; charset=utf-8',

            type: 'POST',
            data: scheduleWithDates,
            success: function (data) {
                $('#TableDates').empty();
                $('#TableDates').append('<tr ><td>' + data);
            },
            error: function (a, b, c) {
                alert(a + " " + b + " " + c);
            }
        });



    });
</script>
