
<footer class="main-footer">

    <p>
        Velkommen til Tolkdanmarks administrations-site.
        Du kan bla. håndtere bestillinger, tolke og tilhørende sprog.
    </p>
    <p>
        <div class="pull-right hidden-xs">
            @*<b>Version</b> 1.0*@
        </div>
        <strong>Copyright &copy; @DateTime.Now.Year Tolkdanmark.</strong> All rights
        reserved.
    </p>

</footer>
sss