
<footer class="main-footer">

    <p>
        Welcome to the Nordisk administration site.
        You can scroll. handle Employee, Customer and related Operations.
    </p>
    <p>
        <div class="pull-right hidden-xs">
            @*<b>Version</b> 1.0*@
        </div>
        <strong>Copyright &copy; @DateTime.Now.Year Nordisk.</strong> All rights
        reserved.
    </p>

</footer>
sss