@using System.Collections.Generic;
@using Freelancer.Model.Models.CustomerKeys
    
@model Tuple<List<CustomerKeys>, int>

    @{
        int ind = 0;
    }
        @foreach (var a in Model.Item1)
            {
            <tr>
                <td>
                    <div id="@ind">
                        <input id="CustomerKeysList_@(a.KeyId)" class="CustomerKeysLists"
                               name="CustomerKeysList[@(ind)].Name" type="text" value="@a.Name" />
                        <button id="RemoveObject@(ind)" onclick="RemoveObject(@(ind))" type="button" class="btn btn-primary">remove Object</button>
                    </div>
                </td>
            </tr>
           
            ind++;
        }


