@model Freelancer.Model.Models.CustomerKeys.CustomerKeys
<input id="CustomerKeysList_@(Model.CustomerId)__GroupName" class="thingRow"
       name="CustomerKeysList[@(Model.CustomerId)].Name" type="text" value="" />
<button id="RemoveObject@(Model.CustomerId)" onclick="RemoveObject(@(Model.CustomerId))" type="button" class="btn btn-primary">remove Object</button>

