@using Freelancer.Web.Areas.Admin.ViewModels;
@using Freelancer.Web.Areas.Admin.HelperClasses;
@model CustomerViewModel
@{


}
<
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
@Html.TextBoxFor(m => m.Name, new { @type = "text", @id = "txtName", @onkeypress = "return isAlpha(event)", @placeholder = "Name *", @class = "form-control" })
<table id="Table">
 
        @{
                int ind = 0;
            }
            @foreach (var a in Model.CustomerKeysList)
            {
                <tr>
                    <td>
                        <div id="@ind">
                            <input id="CustomerKeysList_@(a.KeyId)" class="CustomerKeysLists"
                                   name="CustomerKeysList[@(ind)].Name" type="text" value="@a.Name" />
                            <button id="RemoveObject@(ind)" onclick="RemoveObject(@(ind))" type="button" class="btn btn-primary">remove Object</button>
                        </div>
                    </td></tr>
                ind++;
            }        
        
       
</table>

<button id="AddObject" type="button" class="btn btn-primary">Add Object</button>
<button type="submit" class="btn btn-primary">Save</button>
}


<script>

    function ReorderList()
    {
       var CustomerKeysList = JSON.stringify({ 'CustomerKeysList': createJSON() });
        alert(CustomerKeysList);
        $('#Table').empty();
        var i = $('input[class="CustomerKeysLists"]').length;



       



        var url = '/admin/customer/RemoveObject?index=' + i;
        $.ajax({
            url: url,
            contentType: 'application/json; charset=utf-8',

            type: 'POST',
            data: CustomerKeysList,
            success: function (data) {
                //  var PreviousKeyList = GetCustomerKeysListhtml();
                $('#Table').empty();
                //  $('#Table').append('<tr ><td>' + PreviousKeyList).append('<button id="AddObject1" type="button" class="btn btn-primary">Add Object</button>');

                $('#Table').append('<tr ><td>' + data);
            },
            error: function (a, b, c) {
                alert(a + " " + b + " " + c);
            }
        });
    }
    function GetCustomerKeysListhtml()
    {
        var TableRows = "";
        $('input[class="CustomerKeysLists"]').each(function (index, item) {

            TableRows += '<div id="' + index + '">' +
            '<input id="' + $(item).attr('id') + '" class="CustomerKeysLists"' +
            'name="CustomerKeysLists[' + index + '].Name" type="text" value="' + $(item).val() + '" />' +
            '<button id="RemoveObject' + index + '" onclick="RemoveObject(' + index + ')" type="button" class="btn btn-primary">remove Object</button>' +
        '</div>'

        })
        return TableRows;

    }

    function createJSON() {
        jsonObj = [];
        $("input[class=CustomerKeysLists]").each(function () {

           

            myObj = {}
            myObj["KeyId"] = $(this).attr('id').split('_')[1];
            myObj["CustomerId"] = $(this).attr('id');
            myObj["Name"] = $(this).val();
            myObj["DateCreated"] = new Date();
            ;

            jsonObj.push(myObj);
        });
        return jsonObj;
        console.log(jsonObj);
    }
    
    function RemoveObject(index)
    {


        $('#'+index+''
            ).remove();
        ReorderList();
    }
    $('#AddObject1').click(function ()
    {
        $('#CustomerKeysList_0_Name').remove();
    })



    $('#AddObject').click(function () {


        var i = $('input[class="CustomerKeysLists"]').length;


      
        CustomerKeysList = JSON.stringify({ 'CustomerKeysList': createJSON() });
        

       
     
        var url = '/admin/customer/AddObject?index=' + i;
        $.ajax({
            url: url,
            contentType: 'application/json; charset=utf-8',

            type: 'POST',
            data: CustomerKeysList,
            success: function (data) {
              //  var PreviousKeyList = GetCustomerKeysListhtml();
                $('#Table').empty();
              //  $('#Table').append('<tr ><td>' + PreviousKeyList).append('<button id="AddObject1" type="button" class="btn btn-primary">Add Object</button>');

                $('#Table').append('<tr ><td>' + data);
            },
            error: function (a, b, c) {
                alert(a + " " + b + " " + c);
            }
        });


     
    });
   
</script>
@*<script>
    function RemoveObject(index)
    {
        alert(index)
        $('#'+index+''
            ).remove();
    }
    $('#AddObject1').click(function ()
    {
        $('#CustomerKeysList_0_Name').remove();
    })



    $('#AddObject').click(function () {
        var CustomerKeysList = {
            CustomerKeys: ["Code", "Coffee", "Stackoverflow"]
        };
        var i = $(".thingRow").length;
        $.ajax({
            url: '/admin/customer/AddObject?index=' + i,
            success: function (data) {
                alert(data)
                $('#Table > tbody ').append('<tr id='+i+'><td>'+data).append('<button id="AddObject1" type="button" class="btn btn-primary">Add Object</button>');
            },
            error: function (a, b, c) {
                alert(a + " " + b + " " + c);
            }
        });
    });
</script>*@